<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.MarchantMapper">
	
	<delete id="delMarchantInfo" parameterType="string">
		delete from marchant_info where march_code=#{marchCode} 
	</delete>
	
	
	<select id="queryMarchantInfoByMarchName" parameterType="string" resultType="com.example.model.MarchantInfo">
		select 
			id,
			march_code as marchCode, 
			march_name as marchName,
			day_sum_limited as daySumLimited
			from marchant_info where march_name=#{marchName}
	</select>
</mapper>